* {
	margin: 0 auto;
	padding: 0 auto;
}
body {
	font-family: arial;
	font-size: 20px;
}
header {
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: #C1FFC1;
}
.left img {
	width: 100px;
	margin-left: 10px;
	height: 90px;
}
header p{
	text-align: center;
	text-shadow: 3px 2px;
	font-size: 40px;
}
header .left{
	float:left;
	width: 20%;
}
header .right{
	float: left;
	width: 80%;
	text-align: center;
}
#menu {
	float: left;
	width: 100%;
	height: 50px;
	float: 	left;
	line-height: 50px;
	margin-top: -28px;
}
#menu ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 50px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
#main {
	width: 100%;
	height: 760px;
	border-bottom: 5px solid #333333;
	float: left;
}
.banner {
	width:15%;
	height:755px;
	float: left;
	border-right: 5px solid #333333;
	margin-top: 5px;
}
.banner img {
	width: 100%;
	height:100%;
}
.new {
	width: 84%;
	height:760px;
	float: left;
}

h1 {
	text-align: center;
	margin-top: 50px;
}
.contact {
	border: 1px solid #DDDDDD;
	float: left;
	height: 550px;
	width: 50%;
	margin: 2% 15%;
	background: #FFDEAD;
	border-radius: 8px;
}
form {
	float: left;
	margin: 10% 20%;

}
textarea {
	height: 100px;
	width: 340px;
}
input{
	height: 30px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.lienhe {
	margin-top: 20px;
	height: 40px;
	width: 345px;
	background: #CC6600;
}
footer {
	width: 100%;
	height: 60px;
	float: left;
	text-align: center;
	background: #C1FFC1;
}
