.main {
	background-image: linear-gradient(white, orange);
	height: 1000px;

}
.body {
	background-color: white;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 20px;
	width: 50%;
	margin-top: 30px;
	padding: 30px;
	padding-bottom: 20px;
	margin-bottom: 100px;
}
.top {
	height: 150px;
	border-bottom: 2px solid orange;

}
.top img {
	width: 10%;
	float: left;
}
.top h1 {
	text-align: center;
	color: yellow;
	text-shadow: 2px 2px gray;
}
h2 {
	padding-top: 40px;
	clear :left;


}
.top p {
	text-align: center;
	color: green;
	font-style: italic;
	font-size: 20px;
}
.click {
	color: green;
	font-weight: bold;
}
.para2 {
	text-indent: 20px;
}
small {
	float: right;
}
.copyright {
	border-top: 2px solid orange;
}